body {
    /* background: linear-gradient(45deg, rgb(171, 97, 255), rgb(134, 29, 255)); */
    background: url(https://raw.githubusercontent.com/mastodilu/RandomAssets/master/img/bg.png);
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

.content {
    color: whitesmoke;
    padding-top: 25vh;
}

.lightcoral {
    color: lightcoral;
}

.bg-dark {
    background-color: rgba(52, 58, 64, 0.5)!important;
}

.container a {
    background-color: rgba(119, 126, 133, 0.35)!important;
}

h3 {
    font-family: 'Fira Code', monospace;
}

a:hover, a:active, a:focus {
    outline: 0;
}